<% layout("/layouts/boilerplate")%>
<body>
  <!-- <h4>Edit list</h4> -->
  <div class="row">
    <div class="col-8 offset-2">
      <form
        method="post"
        action="/listings/<%=list._id%>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <h3
          style="
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
          "
        >
          Update <%= list.title %>
        </h3>
        <div class="mb-3">
          <label for="listing[title]" class="form-lable">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= list.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter Title</div>
        </div>
        <div class="mb-3">
          <label for="listing[description]" class="form-lable"
            >Description</label
          >
          <textarea
            type="text"
            name="listing[description]"
            class="form-control"
            required
          >
            <%= list.description %>
        </textarea
          >
          <div class="invalid-feedback">Please Enter Description</div>
        </div>

        <div class="showimg">
            Original Image <br>
            <img src="<%=originalimgurl%>" alt="">
        </div>
<br>
        <div class="mb-3">
          <label for="listing[image]" class="form-lable">Uplode New Image </label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="listing[price]" class="form-lable">Price</label>
            <input
              type="text"
              name="listing[price]"
              value="<%= list.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter Price</div>
          </div>
          <div class="col-8 mb-3">
            <label for="listing[location]" class="form-lable">Location</label>
            <input
              type="text"
              name="listing[location]"
              value="<%= list.location %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter Location</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="listing[country]" class="form-lable">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= list.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter country</div>
        </div>

        <div class="btn-div">
          <button class="btn btn-dark update-btn">Update</button>
        </div>
        <br />
      </form>
    </div>
  </div>
</body>
