<% layout("/layouts/boilerplate")%>
<script>
   const maptoken = "<%= process.env.MAP_ACCESS_TOKEN %>";
   const coordinates = <%- JSON.stringify(list.geometry.coordinates) %>;
   const exactlocation = <%-JSON.stringify(list.location)%>
 </script>
<div class="row mt-3">

   <div class="col-8 offset-2">
    <h3><%= list.title %></h3>
   </div>

    <div class="card listing-card col-md-6 col-8  offset-2">
      <img src="<%=list.image.url%>" class="card-img-top show-img" alt="listing details">

      <div class="card-body">
        <p class="card-text">
         <%= list.description %> <br>
         <b>&#8377;<%= list.price.toLocaleString("en-IN") %>/Night</b> <br>
         <%= list.location %> , <%= list.country %> <br>
         <i>Owend by : <%=list.owner.username%></i>
        </p>
      </div>

      <% if(currUser && currUser._id.equals(list.owner._id)){%>
         <div class="btn-div">
            <a href="/listings/<%= list._id %>/edit" 
               class="btn btn-dark col-md-2  col-4 edit-btn ">
               Edit</a>
               <form method="post" action="/listings/<%= list._id %>?_method=DELETE" >
                  <button class="btn btn-dark offset-3 del-btn">Delete</button>
               </form>
         </div>
      <%}%>
      

    </div> 


   
    <div class="col-8 offset-2 mb-3">
      
      <%if(currUser){%>
         <hr>
      <h4>Leave a Review</h4>
      <form method="post" action="/listings/<%= list._id %>/reviews" novalidate class="needs-validation" >
         <div class="mb-3 mt-3" >
            <!-- <label class="form-lable"
             for="rating">Rating</label>
            <input class="form-range" 
            type="range" 
            min="1" 
            max="5" 
            name="review[rating]" 
            id="rating"
            required> -->

            <fieldset class="starability-basic">
               <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
               <input type="radio" id="first-rate1" name="review[rating]" value="1" />
               <label for="first-rate1" title="Terrible">1 star</label>
               <input type="radio" id="first-rate2" name="review[rating]" value="2" />
               <label for="first-rate2" title="Not good">2 stars</label>
               <input type="radio" id="first-rate3" name="review[rating]" value="3" />
               <label for="first-rate3" title="Average">3 stars</label>
               <input type="radio" id="first-rate4" name="review[rating]" value="4" />
               <label for="first-rate4" title="Very good">4 stars</label>
               <input type="radio" id="first-rate5" name="review[rating]" value="5" />
               <label for="first-rate5" title="Amazing">5 stars</label>
             </fieldset>

            <div class="invalid-feedback"> Please Enter Description</div>
         </div>
         <div class="mb-3 mt-3">
            <label class="form-lable" 
            for="comment">Comments</label>
            <textarea 
            class="form-control" 
            name="review[comment]" 
            id="comment" 
            cols="35" 
            rows="3"
            required></textarea>
            <div class="invalid-feedback"> Please add some Comment</div>
         </div>
         <br> 
         <div class="btn-div">
            <button class="btn btn-dark add-btn">Submit</button>
        </div>
      </form>
      <%}%>
      <hr>

      <%if(list.reviews.length > 0){%>
         <div class="row">
            <p><b>All reviews</b></p>
         <% for(review of list.reviews ) { %>
            <div class="card col-5 ms-3 mb-3">
               <div class="card-body">
                  <h5 class="card-title"><%=review.author.username%></h5>
                  <p class="starability-result" data-rating="<%=review.rating%>"></p>
                  <p class="card-text"><%=review.comment%></p>
               </div>
               <% if(currUser && currUser._id.equals(review.author._id)){%>
               <form class="btn-div mb-3" method="POST" action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=Delete" >
                     <button class="btn  sm add-btn ">Delete</button>                
               </form>
               <% } %>
            </div>
         <% } %> 
      </div>
      <% } %>
    </div>
    <div class="col-6 offset-2 mb-3"> 
      <h3>Where you'll be</h3>
      <div id="map"></div>
   </div>
</div>
<br>


<script src="/javascript/map.js"></script>
